#### Control Flow
    - if, elif, and else
    - for loop
    - while loop

#### for loop
    - for loops are for iterating over a collection (like a list or tuple) or an iterater.

In [ ]:
for i in range(7):
    print(i)

In [ ]:
# Looping with a 2 incremental Step
for i in range(1, 11, 2):
    print(i)

In [ ]:
# # Using for loop, write a program to Print Even Numbers from 2 to 20.
for i in range(20, 1, -2):
    print(i)

In [ ]:
# Using for loop, write a program to Sum of Numbers from 1 to 100.
total = 0
for num in range(1, 101):
    total += num # total = total + num
print("Sum:", total)

In [ ]:
# sums all numbers from 0 to 999 that are multiples of 3 or 5
total = 0
for i in range(1000):
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

In [ ]:
L1 = [5, 6, 7, 10, 15]
for i in L1:
    x = i**2
    print(x)

In [ ]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}") # f -- formatted string

# "f" before a string inside print, it allows you to create a formatted string 
# by including variables or expressions inside curly braces {}

In [ ]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]*5}") # expressions inside curly braces {}

In [ ]:
# Using for loop, get each index alphabet 
text = "Hello, World!"
for char in text:
    print(char)

In [ ]:
student_grades = {'Alice': 85, 'Bob': 92, 'Charlie': 78}
student_grades.items()

In [ ]:
student_grades = {'Alice': 85, 'Bob': 92, 'Charlie': 78}

for key, value in student_grades.items():
    print(f"{key}: {value}")

In [ ]:
student_grades = {'Alice': 85, 'Bob': 92, 'Charlie': 78}

for key, value in student_grades.items():
    if value >= 80:
       print(f"{key} scored {value} and got an A.")

In [ ]:
student_grades = {'Alice': 85, 'Bob': 92, 'Charlie': 78}

passed_students = {k:v for k, v in student_grades.items() if v >= 80}
print(passed_students)

In [ ]:
# Write a Program to sum all the elements in the List.
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    total += value # total = total + value
    print(total)

##### Continue & Break Statements

In [ ]:
# Use of 'continue' statement
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value
print(total)

In [1]:
# Use of 'break' statement

# Write a program to sum the values in the given List until 5 found in that list.
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value
print(total_until_5)

13

##### Nested Loops

In [2]:
for i in range(4):
    for j in range(4):
        print((i, j))

(0, 0)
(0, 1)
(0, 2)
(0, 3)
(1, 0)
(1, 1)
(1, 2)
(1, 3)
(2, 0)
(2, 1)
(2, 2)
(2, 3)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [3]:
# Tables (1 to 10)
for i in range(1, 11):
    for j in range(1, 11):
        print(i, "x", j, "=", i * j)
    print() # This line is empty; it will create a line break.

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [4]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i, "x", j, "=", i * j, end="\t")
    print() # This line is empty; it will create a line break.

1 x 1 = 1	1 x 2 = 2	1 x 3 = 3	1 x 4 = 4	1 x 5 = 5	1 x 6 = 6	1 x 7 = 7	1 x 8 = 8	1 x 9 = 9	1 x 10 = 10
2 x 1 = 2	2 x 2 = 4	2 x 3 = 6	2 x 4 = 8	2 x 5 = 10	2 x 6 = 12	2 x 7 = 14	2 x 8 = 16	2 x 9 = 18	2 x 10 = 20
3 x 1 = 3	3 x 2 = 6	3 x 3 = 9	3 x 4 = 12	3 x 5 = 15	3 x 6 = 18	3 x 7 = 21	3 x 8 = 24	3 x 9 = 27	3 x 10 = 30
4 x 1 = 4	4 x 2 = 8	4 x 3 = 12	4 x 4 = 16	4 x 5 = 20	4 x 6 = 24	4 x 7 = 28	4 x 8 = 32	4 x 9 = 36	4 x 10 = 40
5 x 1 = 5	5 x 2 = 10	5 x 3 = 15	5 x 4 = 20	5 x 5 = 25	5 x 6 = 30	5 x 7 = 35	5 x 8 = 40	5 x 9 = 45	5 x 10 = 50
6 x 1 = 6	6 x 2 = 12	6 x 3 = 18	6 x 4 = 24	6 x 5 = 30	6 x 6 = 36	6 x 7 = 42	6 x 8 = 48	6 x 9 = 54	6 x 10 = 60
7 x 1 = 7	7 x 2 = 14	7 x 3 = 21	7 x 4 = 28	7 x 5 = 35	7 x 6 = 42	7 x 7 = 49	7 x 8 = 56	7 x 9 = 63	7 x 10 = 70
8 x 1 = 8	8 x 2 = 16	8 x 3 = 24	8 x 4 = 32	8 x 5 = 40	8 x 6 = 48	8 x 7 = 56	8 x 8 = 64	8 x 9 = 72	8 x 10 = 80
9 x 1 = 9	9 x 2 = 18	9 x 3 = 27	9 x 4 = 36	9 x 5 = 45	9 x 6 = 54	9 x 7 = 63	9 x 8 = 72	9 x 9 = 81	9 x 10 = 90
10 x 1 = 10	10 x 2 = 20	10 x 3 = 30	10 x 4 = 40	10 x 5 = 50	10 x 6 = 60	10 x 7 = 70	10 x 8 = 80	10 x 9 = 90	10 x 10 = 100

In [ ]:
# Get the number for which to create the multiplication table
number = int(input("Enter the number for the multiplication table: "))

# Create the multiplication table
for i in range(1, 11):
        result = number * i
        print(f"{number} x {i} = {result}")

In [ ]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

In [ ]:
# Using 'break & foor Loop'; Find the First Prime Number
for num in range(2, 20):
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print("First prime number:", num)
        break

#### while loop
    - A while loop specifies a condition and a block of code that is to be executed until the condition evaluates to False or the loop is explicitly ended with break.

In [7]:
while True:
    age = int(input("Enter your age: "))
    if age >= 18:
        print("You are an adult.")
        break
    else:
        print("You are a minor. Try again.")

You are an adult.

In [ ]:
while True:
    user_input = input("Enter 'q' to quit: ")
    if user_input == 'q':
        break

In [9]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x # total = x + total
    x = x // 2 # integer 
    print(x, total)

128 256
64 384
32 448
16 480
8 496
4 504

##### Nested while Loop

In [10]:
# Using Nested while Loop to Display Multiplication Table
i = 1
while i <= 10:
    j = 1
    while j <= 10:
        result = i * j
        print(f"{i} x {j} = {result}", end="\t")
        j += 1
    print() # This line is empty; it will create a line break.
    i += 1

1 x 1 = 1	1 x 2 = 2	1 x 3 = 3	1 x 4 = 4	1 x 5 = 5	1 x 6 = 6	1 x 7 = 7	1 x 8 = 8	1 x 9 = 9	1 x 10 = 10
2 x 1 = 2	2 x 2 = 4	2 x 3 = 6	2 x 4 = 8	2 x 5 = 10	2 x 6 = 12	2 x 7 = 14	2 x 8 = 16	2 x 9 = 18	2 x 10 = 20
3 x 1 = 3	3 x 2 = 6	3 x 3 = 9	3 x 4 = 12	3 x 5 = 15	3 x 6 = 18	3 x 7 = 21	3 x 8 = 24	3 x 9 = 27	3 x 10 = 30
4 x 1 = 4	4 x 2 = 8	4 x 3 = 12	4 x 4 = 16	4 x 5 = 20	4 x 6 = 24	4 x 7 = 28	4 x 8 = 32	4 x 9 = 36	4 x 10 = 40
5 x 1 = 5	5 x 2 = 10	5 x 3 = 15	5 x 4 = 20	5 x 5 = 25	5 x 6 = 30	5 x 7 = 35	5 x 8 = 40	5 x 9 = 45	5 x 10 = 50
6 x 1 = 6	6 x 2 = 12	6 x 3 = 18	6 x 4 = 24	6 x 5 = 30	6 x 6 = 36	6 x 7 = 42	6 x 8 = 48	6 x 9 = 54	6 x 10 = 60
7 x 1 = 7	7 x 2 = 14	7 x 3 = 21	7 x 4 = 28	7 x 5 = 35	7 x 6 = 42	7 x 7 = 49	7 x 8 = 56	7 x 9 = 63	7 x 10 = 70
8 x 1 = 8	8 x 2 = 16	8 x 3 = 24	8 x 4 = 32	8 x 5 = 40	8 x 6 = 48	8 x 7 = 56	8 x 8 = 64	8 x 9 = 72	8 x 10 = 80
9 x 1 = 9	9 x 2 = 18	9 x 3 = 27	9 x 4 = 36	9 x 5 = 45	9 x 6 = 54	9 x 7 = 63	9 x 8 = 72	9 x 9 = 81	9 x 10 = 90
10 x 1 = 10	10 x 2 = 20	10 x 3 = 30	10 x 4 = 40	10 x 5 = 50	10 x 6 = 60	10 x 7 = 70	10 x 8 = 80	10 x 9 = 90	10 x 10 = 100

#### Exercises
1. Write a program to calculate the sum of all numbers from 1 to a given number n using a "for" loop.
2. Write a program to calculate the factorial of a given number 'n' using a "while" loop.
3. Write a program to print all even numbers from 1 to 20 using a "for" loop.
4. Write a program to reverse a given string using a "while" loop.
5. Write a program to find all prime numbers between 10 and 50 using a "for" loop.
6. Using a for loop, print a right-angled triangle of asterisks (*) with a height of 5.
7. Using a while loop, find the factorial of a number entered by the user.
8. Write a Python program to calculate the Table of a user-input positive integer

In [ ]:
# 1. Write a program to calculate the sum of all numbers from 1 to a given number n using a "for" loop.
n = 10
sum = 0

for i in range(1, n + 1):
    sum += i

print("The sum of numbers from 1 to", n, "is:", sum)

In [11]:
# 2. Write a program to calculate the factorial of a given number 'n' using a "while" loop.
n = 5
fact = 1
i = 1
while i <= n:
    fact *= i
    i += 1

print("The factorial of", n, "is:", fact)

The factorial of 5 is: 120

In [ ]:
# 3. Write a program to print all even numbers from 1 to 20 using a "for" loop.
for num in range(2, 21, 2):
    print(num)

In [ ]:
# 4. Write a program to reverse a given string using a "while" loop.
text = "Python"
reverse_text = ""
i = len(text) - 1

while i >= 0:
    reverse_text += text[i]
    i -= 1

print("Original:", text)
print("Reversed:", reverse_text)

In [ ]:
# 5. Write a program to find all prime numbers between 10 and 50 using a "for" loop.
for num in range(10, 51):
    if num > 9:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

# Prime Number: A whole number greater than 1 that cannot be exactly divided by any whole number other than itself and 1

In [ ]:
# 6. Using a for loop, print a right-angled triangle of asterisks (*) with a height of 5.
for i in range(1, 6):
    print('*' * i)

In [ ]:
# 7. Using a while loop, find the factorial of a number entered by the user.
n = int(input("Enter a number: "))
factorial = 1
i = 1
while i <= n:
    factorial *= i
    i += 1
print("Factorial of", n, "is", factorial)

In [ ]:
# 8. Write a Python program to calculate the Table of a user-input positive integer
# Get user input for the positive integer
num = int(input("Enter a positive integer: "))

# Check if the input is a positive integer
if num <= 0:
    print("Please enter a positive integer.")
else:
    # Calculate and display the table
    print(f"Multiplication Table for {num}:")
    for i in range(1, 11):  # You can change 11 to any other number for a different table size
        result = num * i
        print(f"{num} x {i} = {result}")